.login {
	padding: 10px 20px;
  }
  
  .login .login-btn {
	width: 100px;
	height: 36px;
	background-color: #007fff;
	border: 1px solid #007fff;
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
  }