.nav {
	line-height: 60px;
	padding: 0 50px;
	background-color: #fff;
  }

  .nav a {
	margin: 0 20px;
  }

  .logo {
	font-size: 18px;
	font-weight: bold;
	color: #71777c;
	margin: 0 20px;
	cursor: pointer;
  }